$black: #0A0A17;
$white: #FFFFFF;
$ice: #F2F1FF;
$grey: #dcdde4;
$darkgrey: #C2C0D1;
$night: #383745;
$yellow: #E3FF53;
$blue: #1C1D4E;
$dodger: #1045D3;
$purple: #8E7FFC;
$teal: #21EAC5;
$new: #56536B;

$xs: 0.75rem;
$sm: 0.875rem;
$md: 1.125rem;
$lg: 1.5rem;
$xl: 2rem;
$xxl: 3rem;
$xxxl: 6rem;

dl,
dt,
dd,
menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

input,
button {
  font-family: 'Albert Sans', sans-serif;
}

button {
  background: none;
  border: none;
}

input[type="radio"] {
  display: none;
}

.no-wrap {
  white-space: nowrap;
}

:root {
  font-size: 1.25vw;
}

body {
  margin: 0;
  font-family: 'Albert Sans', sans-serif;
  border-right: 0.25rem solid $yellow;
  color: $black;
}

figure#logo {
  margin: 0;
  height: 3rem;

  img {
    height: 100%;
  }

  h1 {
    font-size: 0;
  }
}

menu {
  margin: 0;
  display: flex;
  align-items: flex-start;
}

.cta-button {
  a {
    background-color: $yellow;
    color: $black;
    padding: 0.65rem 1rem;
    margin-inline-start: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-size: $xs;
    white-space: nowrap;
    transition-property: color, background-color;
    transition-duration: 0.4s;
  }

  a:hover,
  a:focus {
    background-color: $dodger;
    color: $white !important;
  }
}

nav#light-mode:focus-within {
  z-index: 2;
}

nav#light-mode {
  color: $black;
  background-color: $white;
  border-color: $darkgrey;
  top: -0.1em;
  z-index: 1;
  a:hover h3,
  a:focus h3,
  a:hover h4,
  a:focus h4,
  a:hover dt,
  a:focus dt,
  a:hover,
  a:focus {
    color: $dodger;
  }
  menu {
    li {
      a {
        color: $black;
      }

      button {
        color: $black;

        h2:after {
          border-color: $purple;
        }
      }

      .text-input-wrapper.dark {
        button {
          img {
            filter: invert(0);
          }
        }

        input {
          color: $black;
          font-weight: 400;
        }

        input::placeholder {
          color: $night;
        }
      }

      .text-input-wrapper.dark:focus-within {
        button {
          border-color: $purple;
          background-color: $ice;

          img {
            // filter: invert(54%) sepia(30%) saturate(1172%) hue-rotate(206deg) brightness(97%) contrast(104%);          
          }
        }

        input {
          border-color: $purple;
          background-color: $ice;
        }
      }
    }
  }

  aside {
    menu {
      a:hover,
      a:focus {
        color: $dodger;
      }
      a {
        color: $night;
      }
    }
  }

  img.icon-search {
    filter: invert(0);
  }
}

nav {
  color: $white;
  background-color: $black;
  position: sticky;
  top: 0;
  color: $white;
  display: flex;
  align-items: center;
  border-bottom: 0.1em solid $night;
  gap: 2rem;
  padding: 0 6rem;
  z-index: 3;
  a:hover h3,
  a:focus h3,
  a:hover h4,
  a:focus h4,
  a:hover dt,
  a:focus dt,
  a:hover,
  a:focus {
    color: $dodger;
  }
  .hamburger {
    display: none;
    button {
      font-size: 0;
    }
  }

  .list-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.65rem;
  }
  .list-wrapper:focus {
    section {
      height: 0;
      opacity: 0;
    }
  }
  .subnav-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex-basis: 50%;
  }

  menu {
    align-items: flex-start;
    gap: 2rem;

    li:hover,
    li:focus-within {
      overflow: visible;
    }

    li {
      .text-input-wrapper.dark {
        padding: 0.1em;
        background-color: transparent;

        button {
          padding: 0;
          border-width: 0.1rem;
          border-color: transparent;
          background-color: transparent;

          img {
            filter: invert(1);
          }
        }

        input {
          font-size: $sm;
          border-width: 0.1rem;
          border-color: transparent;
          background-color: transparent;
          padding: 0;
          width: 0;
        }

        input:focus {
          outline: 0;
        }
      }

      .text-input-wrapper.dark:focus-within {
        button {
          border-color: $yellow;

          img {
            // filter: invert(83%) sepia(61%) saturate(437%) hue-rotate(16deg) brightness(103%) contrast(109%);
          }
        }

        input {
          border-color: $yellow;
          width: 100%;
        }
      }

      a {
        color: $white;
        text-decoration: none;
      }

      list-style: none;
      position: relative;

      button {
        padding: 0 0 1.6rem 0;
        line-height: 1;
        z-index: 1;
        font-size: inherit;
        cursor: pointer;
        color: #FFFFFFDD;
        background-color: transparent;
        border: none;
        margin: 0;

        h2 {
          font-weight: 400;
          letter-spacing: 0.01rem;
          display: flex;
          align-items: center;
          white-space: nowrap;
          gap: 0.4rem;
          transition: color ease-in-out 0.2s;
        }

        h2:after {
          content: "";
          height: 0.25rem;
          width: 0.25rem;
          border-right: 0.15rem solid $yellow;
          border-bottom: 0.15rem solid $yellow;
          transform: rotate(-45deg);
          transition: transform ease-in-out 0.2s;
        }
      }

      button:hover,
      button:focus {
        color: $white;

        h2:after {
          transform: rotate(45deg);
        }
      }

      section:hover,
      section:focus-within,
      button:hover+section,
      button:focus+section {
        opacity: 1;
        height: auto;
      }

      section {
        display: flex;
        flex-direction: column;
        overflow: auto;
        color: $black;
        background-color: $white;
        position: absolute;
        top: 2.6rem;
        margin-left: -2rem;
        opacity: 0;
        width: 24rem;
        height: 0;
        box-shadow: 0 1rem 1rem #00000020;
        border-radius: 0 0 2rem 0;
        z-index: 2;
        transition: opacity ease-in-out 0.4s;
        .mobile-back {
          button {
            width: 100%;
            display: flex;
            align-items: flex-start;
            align-items: center;
            background-color: $yellow;
            color: $black;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            font-weight: 500;
            padding: 0.125rem 2rem;
            font-size: 0;
            pointer-events: none;
          }
          button:before {
            content: '';
            display: block;
            height: 0.75rem;
            width: 0.75rem;
            margin-inline-end: 0.5rem;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNS4zLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCA0NTEgNDUxIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0NTEgNDUxOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cGF0aCBkPSJNNDI5LjUsMjI1LjVjLTAuMy0zLjItMS42LTcuNS0zLjgtOS45TDMxMi40LDg3LjFjLTQuOS02LjctMTUuMS02LjctMjEuNC0xLjJjLTYuMyw1LjUtNi44LDE1LjItMS4zLDIxbDkxLjQsMTAzLjRIMzYuNg0KCWMtOC4zLDAtMTUuMSw2LjgtMTUuMSwxNS4xczYuOCwxNS4xLDE1LjEsMTUuMWgzNDQuNkwyODkuNywzNDRjLTYsNS44LTQuMywxNS43LDIsMjEuMmM2LjMsNS41LDE1LjgsNS4xLDIwLjctMS40bDExMy40LTEyOC41DQoJQzQyOC44LDIzMi4xLDQyOS40LDIyOC42LDQyOS41LDIyNS41TDQyOS41LDIyNS41eiIvPg0KPC9zdmc+DQo=");
            transform: rotate(180deg);
            transition: filter ease-in-out 0.2s;
            display: none;
          }
        }
        dl {
          margin-block-start: 0.75rem;
        }

        dl>a+a {
          margin-block-start: 0.5rem
        }

        dl.header,
        dl:last-child {
          padding: 1em 2em;
          background-color: $ice;
          border-top: 0.1em solid $grey;
          margin: 0;
        }

        dl:last-child {
          background-color: $white;
          padding-block-end: 1.5rem;

          dt a {
            padding: 0;
          }
        }
        dt {
          color: $blue;
        }
        a {
          color: $black;
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          
        }
        a:hover,
        a:focus {
          color: $dodger;
        }
        >a {
          border-bottom: 0.1rem solid $grey;
          display: flex;
          flex-direction: column;
          align-items: stretch;
        }

        a+a {
          margin-block-start: 0.25rem;
        }

        a+dl {
          padding-inline-start: 3rem;
          padding-block-end: 0.5rem;
        }

        dl dd:last-child {
          margin-block-end: 0.5rem;
        }

        a h4 {
          text-transform: uppercase;
          letter-spacing: 0.15rem;
          font-weight: 500;
          font-size: $xs;
          padding: 1rem 2rem;
          color: $new;
        }
        a.arrow-link {
          * {
            display:flex;
            align-items: center;
          }
          > *:after {
            content: '';
            display: block;
            height: 1.5rem;
            width: 1.5rem;
            background-color: $yellow;
            border-radius: 65%;
            margin-inline-start: 0.75rem;
            background-size: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNS4zLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCA0NTEgNDUxIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0NTEgNDUxOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cGF0aCBkPSJNNDI5LjUsMjI1LjVjLTAuMy0zLjItMS42LTcuNS0zLjgtOS45TDMxMi40LDg3LjFjLTQuOS02LjctMTUuMS02LjctMjEuNC0xLjJjLTYuMyw1LjUtNi44LDE1LjItMS4zLDIxbDkxLjQsMTAzLjRIMzYuNg0KCWMtOC4zLDAtMTUuMSw2LjgtMTUuMSwxNS4xczYuOCwxNS4xLDE1LjEsMTUuMWgzNDQuNkwyODkuNywzNDRjLTYsNS44LTQuMywxNS43LDIsMjEuMmM2LjMsNS41LDE1LjgsNS4xLDIwLjctMS40bDExMy40LTEyOC41DQoJQzQyOC44LDIzMi4xLDQyOS40LDIyOC42LDQyOS41LDIyNS41TDQyOS41LDIyNS41eiIvPg0KPC9zdmc+DQo=");
            transition: filter ease-in-out 0.2s;
          }
        }
        a dt {
          text-transform: uppercase;
          letter-spacing: 0.1rem;
          font-size: $xs;
          font-weight: 500;
          padding-block-start: 0.5rem;
        }

        dt+dd {
          margin-block-start: 0.25rem;
        }

        dd {
          font-size: $xs;
          font-weight: 400;
          letter-spacing: 0.01em;
          color: $new;
        }

        dt h3 {
          font-size: $md;
          text-transform: none;
          color: $blue;
          font-weight: 500;
          letter-spacing: 0.01rem;
          margin-block-end: 0.5rem;
        }
      }
    }
  }

  aside {
    padding-block-start: 0.5rem;

    menu {
      justify-content: flex-end;
      align-items: center;
      a:hover,
      a:focus {
        color: $yellow;
      }
      a {
        font-size: $sm;
        color: $grey;
        display: flex;
        align-items: center;

        img.icon-search {
          height: $md;
          width: $md;
          filter: invert(1);
        }
      }
    }
  }

  .wide section {
    flex-direction: column;
    width: 48rem;
    dl a {
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-size: $xs;
      font-weight: 500;
      padding-block-start: 0.5rem;
      color: $blue;
    }
    .wide-wrap {
      display: flex;
      flex-direction: row;
      height: 100%;
    }
    .subnav-wrapper {
      dl:last-child {
        height: 100%;
      }
    }

    .subnav-wrapper:nth-child(odd) {
      dl {
        background-color: $white;
      }
    }

    .subnav-wrapper:nth-child(even) {
      dl {
        background-color: $ice;
      }
    }
  }
}

main {
  position: relative;

  section+section {
    padding-block-start: 2rem;
    border-top: 0.1em solid $grey;
  }

  b {
    font-weight: 400;
  }

  .txt-style-wrapper {
    display: flex;

    >p {
      flex-basis: 50%;
      padding: 3rem 6rem;

      .grad-mask {
        font-weight: 300;
        background-image: linear-gradient(90deg, $purple, $teal);
        background-clip: text;
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    p:nth-child(even) {
      background-color: $black;
      color: $white;
    }

    p {
      margin: 0;
    }
  }

  .txt-style-wrapper:first-child p {
    padding-block-start: 6rem;
  }

  .txt-style-wrapper:last-child p {
    padding-block-end: 6rem;
  }

  .t1 {
    font-size: $xxxl;
    font-weight: 100;
    letter-spacing: -0.04em;
    line-height: 1;
  }

  .t2 {
    font-size: 4rem;
    font-weight: 200;
    letter-spacing: -0.03em;
    line-height: 1.1;
  }

  .t3 {
    font-size: $xxl;
    font-weight: 200;
    letter-spacing: -0.02em;
    line-height: 1.15;
  }

  .t4 {
    font-size: 2.5rem;
    font-weight: 200;
    letter-spacing: -0.01em;
    line-height: 1.25;
  }

  .t5 {
    font-size: 2.25rem;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.275;
  }

  .t6 {
    font-size: $xl;
    font-weight: 500;
    line-height: 1.3;
  }

  .p1 {
    font-size: 1.15rem;
    font-weight: 300;
    line-height: 1.4;
  }

  .p2 {
    font-size: 1rem;
    line-height: 1.5;
  }

  .p3 {
    font-size: $sm;
    line-height: 1.5;
  }

  .s1 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 500;
    p:nth-child(even) {
      color: $teal;
    }
  }

  .s2 {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: $sm;
    font-weight: 500;
    p:nth-child(even) {
      color: #93e4d5;
    }
  }

  .s3 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: $xs;
    font-weight: 500;
  }

  .color-wrapper,
  .input-button-wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    padding-inline: 6rem;
    padding-block: 2rem;

    .color-pal {
      border: 0.1em solid $grey;
      border-radius: $xs;
      width: 100%;
      text-align: center;
      overflow: hidden;

      dt {
        font-size: 0;
        height: 4rem;
      }

      dd {
        padding: 1rem;
        border-top: 0.1em solid $grey;
        font-size: $sm;
      }

      // dd:before {
      //   content: '#';
      //   color: $darkgrey;
      // }
    }

    .black dt {
      background-color: #000;
    }

    .blue dt {
      background-color: $blue;
    }

    .white dt {
      background-color: $white;
    }

    .yellow dt {
      background-color: $yellow;
    }

    .dodger dt {
      background-color: $dodger;
    }

    .purple dt {
      background-color: $purple;
    }

    .teal dt {
      background-color: $teal;
    }

    .night dt {
      background-color: $black;
    }

    .dark-grey dt {
      background-color: $darkgrey;
    }

    .grey dt {
      background-color: $ice;
    }

    .grad-1 dt {
      background-image: linear-gradient(90deg, $purple, $teal);
    }

    .grad-2 dt {
      background-image: linear-gradient(90deg, $white, $ice);
    }
  }

  .input-button-wrapper {
    align-items: center;
    justify-content: space-between;

    .cta-button {
      display: flex;

      a {
        text-decoration: none;
        margin: 0;
        padding-inline: 3rem;
      }

      a.phone {
        display: flex;
        align-items: center;
      }

      a.phone:before {
        content: '';
        display: block;
        height: 1.25rem;
        width: 1.25rem;
        margin-inline-end: 0.75rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTIwMHB0IiBoZWlnaHQ9IjEyMDBwdCIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMTIwMCAxMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogPHBhdGggZD0ibTEyMDAgNjAwYzAtMzMxLjU4LTI2OC40Mi02MDAtNjAwLTYwMHMtNjAwIDI2OC40Mi02MDAgNjAwIDI2OC40MiA2MDAgNjAwIDYwMCA2MDAtMjY4LjQyIDYwMC02MDB6bS0zNDUuMTEgNzIuMThjLTY3LjY2OC02Ny42NjgtMTI2LjMyIDExLjI3Ny0xNjYuOTIgNTEuODc5LTg1LjcxNS00NS4xMTMtMTczLjY4LTEyNC4wNi0yMTIuMDMtMjEyLjAzIDEyNC4wNi0xMTIuNzggOTkuMjUtMTI2LjMyLTQwLjYwMi0yNTkuNC02OS45MjYtNjcuNjY4LTEyNi4zMiAxMy41MzUtMTY5LjE3IDU2LjM5MS0yMi41NTUgMjIuNTU1LTMzLjgzNiA0OS42MjUtMzYuMDkgNzguOTQ5LTIyLjU1NSAyMDMuMDEgMzAwIDU3MC42OCA1NTcuMTQgNTg2LjQ2IDc2LjY5MSA0LjUxMTcgMTA2LjAyLTM4LjM0OCAxNjAuMTUtOTQuNzM4IDMzLjgzNi0zMy44MzYgMzMuODM2LTgxLjIwMy0yLjI1MzktMTE1LjA0bC05MC4yMjctOTIuNDh6IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz4KPC9zdmc+Cg==");
        transition: filter ease-in-out 0.2s;
      }

      a.phone:hover:before,
      a.phone:focus:before {
        filter: invert(1);
      }

      a.arrow {
        border-radius: 50%;
        height: 1.75rem;
        width: 1.75rem;
        padding: 0.5rem;
        transition: background-color ease-in-out 0.2s;

        img {
          height: 100%;
          width: auto;
          transition: filter ease-in-out 0.2s;
        }
      }

      a.arrow:hover,
      a.arrow:focus {
        background-color: $black;

        img {
          filter: invert(81%) sepia(87%) saturate(341%) hue-rotate(15deg) brightness(104%) contrast(102%);
        }
      }
    }

    .cta-button.lg {
      a {
        font-size: $md;
        padding-inline: 1.5rem;
        padding-block: 2rem
      }
    }

    .inline-link {
      a {
        text-decoration: none;
        color: $black;
        font-weight: 500;
        border-bottom: 0.15rem solid $teal;
        padding-block-end: 0.15rem;
        transition: ease-in-out 0.2s;
        white-space: nowrap;
      }

      a:hover,
      a:focus {
        border-color: $dodger;
      }
    }
  }

  .input-button-wrapper.dark {
    background-color: $black;

    .cta-button {
      a {
        background-color: transparent;
        border: 0.15rem solid $yellow;
        color: $white;
        transition: border-color ease-in-out 0.2s;
      }

      a:hover,
      a:focus {
        border-color: $purple;
      }

      a.phone:before {
        filter: invert(1);
      }

      a.arrow {
        background-color: transparent;
        border: 0.15rem solid $yellow;
        transition: background-color ease-in-out 0.2s;

        img {

          filter: invert(81%) sepia(87%) saturate(341%) hue-rotate(15deg) brightness(104%) contrast(102%);
        }
      }

      a.arrow:hover,
      a.arrow:focus {
        background-color: $yellow;
        border-color: $yellow;

        img {
          filter: none;
        }
      }
    }

    .inline-link {
      a {
        color: $white;
        border-color: $yellow;
        font-weight: 400;
      }

      a:hover,
      a:focus {
        border-color: $purple;
      }
    }
  }
}

.input-preview-wrapper {
  display: flex;
  justify-content: space-around;
  border-top: 0.1rem solid $night;
}

.text-input-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  padding-block: 2rem;

  button {
    border: 0.1rem solid $purple;
    border-radius: 4rem 0 0 4rem;
    border-right: 0;
    display: flex;
    align-items: center;
    padding-inline-end: 0;
    background-color: $ice;
    cursor: pointer;

    img {
      height: 1.25rem;
      width: 1.25rem;
      filter: invert(54%) sepia(15%) saturate(1839%) hue-rotate(207deg) brightness(98%) contrast(101%);
    }
  }

  input {
    font-size: 1.15rem;
    font-weight: 300;
    border: 0.1rem solid $purple;
    border-left: 0;
    background-color: $ice;
    border-radius: 0 4rem 4rem 0;
    padding: 0.25rem;
  }

  input:focus {
    outline: 0;
  }
}

.text-input-wrapper.dark {
  background-color: $black;

  button {
    border: 0.1rem solid $yellow;
    background-color: $black;
    border-right: 0;

    img {
      filter: invert(81%) sepia(87%) saturate(341%) hue-rotate(15deg) brightness(104%) contrast(102%);
    }
  }

  input {
    border: 0.1rem solid $yellow;
    background-color: $black;
    color: $white;
    border-left: 0;
    font-weight: 200;
  }

  input::placeholder {
    color: $grey;
  }
}

footer {
  display: flex;
  gap: 2.75rem;
  background-color: $black;
  color: $white;
  padding: 4rem 6rem;
  border-top: 0.1em solid #C2C0D140;

  .cta-button {
    margin: 1rem 0 2rem;

    a {
      margin: 0;
    }
  }

  .menu-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2.5rem;
    margin-inline-start: auto;

    .menu-sub-wrapper {
      display: flex;
      gap: 2rem;
    }
  }

  address {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        font-style: normal;
        color: $darkgrey;
        line-height: 1.5;
      }
    }
  }


  section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  menu {
    flex-direction: column;
    gap: 0.25rem;

    h2 {
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-weight: 400;
      font-size: $sm;
      margin-block-end: 0.25rem;
    }

    a {
      color: $white;
      text-decoration: none;
      font-size: $xs;
      color: $darkgrey;
      letter-spacing: 0.01em;
      line-height: 1.5;
      transition: color ease-in-out 0.2s;
    }
    a:hover,
    a:focus {
      color: $yellow;
    }
  }
}

@media (max-width: 1440px) {
  :root {
    font-size: 1.0625rem;
  }

  nav,
  footer {
    padding-inline: 4rem;
  }

  main {
    .txt-style-wrapper {
      >p {
        padding-inline: 4rem;
      }
    }

    .color-wrapper,
    .input-button-wrapper,
    .text-input-wrapper {
      padding-inline: 4rem;
    }
  }
}

@media (max-width: 1280px) {
  :root {
    font-size: 1rem;
  }

  nav,
  footer {
    padding-inline: 2rem;
  }

  nav {
    menu {
      gap: 1.25rem;
    }
  }

  main {
    .txt-style-wrapper {
      >p {
        padding-inline: 2rem;
      }
    }

    .color-wrapper,
    .input-button-wrapper,
    .text-input-wrapper {
      padding-inline: 2rem;
    }
  }
}

@media (max-width: 1023px) {
  :root {}

  nav,
  footer {
    flex-direction: column;

    .menu-wrapper {
      margin: 0;
      justify-content: flex-start;
      gap: 2rem;

      .menu-sub-wrapper {
        flex-basis: auto;
      }

      section {
        flex-basis: auto;
      }

      section.break-md {
        display: flex;
        flex-direction: row;
      }
    }
  }

  main {
    .txt-style-wrapper {
      >p {
        padding-inline: 4rem;
      }
    }

    .color-wrapper,
    .input-button-wrapper,
    .text-input-wrapper {
      padding-inline: 4rem;
    }

    .input-button-wrapper {
      flex-wrap: wrap;
      gap: 2rem;

      div {
        flex-basis: 33vw;
        flex-grow: 1;
      }
    }
  }

  nav#light-mode {
    top: 0;
    z-index: 2;
    display: flex;
  }

  nav:focus-within {
    z-index: 3;
    .hamburger {
      button {
        pointer-events: none;
        span:nth-child(1) {
          transform: translateY(0.425rem) rotate(-45deg);
        }
        span:nth-child(2) {
          opacity: 0;
        }
        span:nth-child(3) {
          transform: translateY(-0.425rem) rotate(45deg);
        }
      }
    }
  }

  nav {
    display: none;
    position: sticky;
    padding-block: 1rem;
    box-shadow: none;
    flex-direction: row;
    z-index: 2;

    .hamburger {
      display: flex;
      margin-inline-start: auto;

      button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $yellow;
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
        padding: 1rem 0.75rem;
        cursor: pointer;
        span {
          flex-basis: 0.12rem;
          width: 100%;
          background-color: $blue;
          transition: all ease-in-out 0.2s;
        }
      }

    }

    .subnav-wrapper {
      flex-basis: auto;
    }

    .subnav-wrapper:last-child {
      flex-basis: 100%;
      border: 0;
    }

    .list-wrapper:focus-within {
      width: 100%;
      opacity: 1;
      pointer-events: all;
    }

    .list-wrapper {
      pointer-events: none;
      position: fixed;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-end;
      width: 0;
      gap: 0;
      top: 0;
      right: 0.25rem;
      bottom: 0;
      opacity: 0;
      background-color: $white;
      margin-block-start: 5rem;
      padding: 4rem;
      z-index: 2;
      border-top: 0.1em solid $grey;
      background-image: linear-gradient(90deg, #ffffff66, $white), url('https://raw.githubusercontent.com/icscreative/scd/6a274db1b311e023701fe68e1abade8cde822cf9/img/dots.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0, -24rem;
      transition: opacity ease-in-out 0.2s;
      overflow: auto;
      li {
        button {
          h2 {
            font-size: $xxl;
            font-weight: 300;
          }

          h2:after {
            content: none;
          }
        }
        button:hover {
          h2 {
            color: $dodger;
          }
        }
        button:hover+section {
          opacity: 0;
          height: 0;
        }

        button:focus+section,
        section:focus-within {
          opacity: 1;
          height: auto;
        }

        section {
          inset: 0;
          margin: 0;
          border-radius: 0;
          width: 28rem;
        }
      }

      .wide section {
        flex-direction: column;
        width: 28rem;
        .wide-wrap{
          flex-direction: column;
        }
      }
      .mobile-back {
        button {
          font-size: $xs;
          padding-block:0.5rem;
          pointer-events: all;
        }
        button:before {
          display: block;
        }
      }
    }

    menu {
      flex-direction: column;
      align-items: flex-end;
      position: static;

      .cta-button {
        a {
          display: block;
          margin: 0;
          font-size: $md;
          padding: 1.5rem 2rem;
        }
      }

      li {
        position: static;
      }
    }

    aside {
      margin-block-start: 2rem;
      margin-block-end: auto;

      menu {
        align-items: flex-end;

        li:first-child {
          order: 1;
        }

        li {
          a {
            font-size: $lg;
            color: $night;
          }

          .text-input-wrapper.dark {
            button {
              img {
                height: $xl;
                width: $xl;
                filter: invert(0);
              }
            }
          }

        }
      }
    }
  }

  main { 
    .txt-style-wrapper {
      flex-direction: column;
      >p {
        padding-inline: 4rem;
      }
      p:first-child, p:last-child {
        padding-block: 4rem;
      }
      p {
        span {
          display: block;
          max-width: 24em;
        }
      }
    }

    .color-wrapper {
      flex-wrap: wrap;

      .color-pal {
        flex-basis: 18em;
        flex-grow: 1;
      }
    }
  }
}

@media (max-width: 780px) {
  nav {
    .list-wrapper {
      padding: 2rem;
      menu {
        li {
          button {
            h2 {
              font-size: $xl;
            }
          }
          section {
            width: 20rem;
          }
        }
        .cta-button {
          a {
            font-size: 1rem;
          }
        }
      }
      .wide {
        section{
          width: 20rem;
        }
      }
      aside {
        menu {
  
          li {
            a {
              font-size: $md;
            }
  
          }
        }
      }
    }
  }
  main {
    .txt-style-wrapper {
      >p {
        padding-inline: 2rem;
      }
      p:first-child, p:last-child {
        padding-block: 2rem;
      }
    }

    .color-wrapper,
    .input-button-wrapper,
    .text-input-wrapper {
      padding-inline: 2rem;
    }

    .t1 {
      font-size: 4rem;
    }

    .t2 {
      font-size: 3rem;
    }

    .t3 {
      font-size: 2.5rem
    }

    .t4 {
      font-size: 2rem
    }

    .t5 {
      font-size: 1.5rem
    }

    .t6 {
      font-size: 1.5rem;
    }
  }

  .input-preview-wrapper {
    display: flex;
    flex-direction: column;

    .text-input-wrapper {
      width: auto;
      justify-content: flex-start;
    }
  }

  footer {
    flex-direction: column;

    .menu-wrapper {
      flex-direction: column;
      margin: 0;
      section {
        min-width: 22vw;
      }

    }
  }
}

@media (max-width: 480px) {
  nav,
  footer {
    padding-inline: 1rem;
  }

  nav {
    .list-wrapper {
      background-position: 0;
      margin-block-start: 4rem;
    }
    figure#logo {
      height: 2rem;
    }
    menu {
      gap: 1rem;

    }
    .hamburger {
      button {
        height: 2rem;
        width: 2rem;
        padding: 0.65rem 0.5rem;
      }
    }

  }
  nav:focus-within {
    .hamburger{
      button{
        span:nth-child(1) {
          transform: translateY(0.315rem) rotate(-45deg);
        }
        span:nth-child(2) {
          opacity: 0;
        }
        span:nth-child(3) {
          transform: translateY(-0.315rem) rotate(45deg);
        }
      }
    }
  }
  footer {
    .menu-wrapper {
      .menu-sub-wrapper:last-child {
        flex-direction: column;
      }
      .menu-sub-wrapper {
        flex-direction: column;

        section {
          flex-direction: column;
        }
      }
    }
  }
  main {
    .txt-style-wrapper {
      >p {
        padding-inline: 1rem;
      }
      p:first-child, p:last-child {
        padding-block: 1rem;
      }
    }
    .color-wrapper,
    .input-button-wrapper,
    .text-input-wrapper {
      padding-inline: 1rem;
    }
  }
}