$black: #0A0A17;
$white: #FFFFFF;
$ice: #F2F1FF;
$grey: #dcdde4;
$darkgrey: #C2C0D1;
$night: #383745;
$yellow: #E3FF53;
$blue: #1C1D4E;
$dodger: #1045D3;
$purple: #8E7FFC;
$teal: #21EAC5;

$xs: 0.75rem;
$sm: 0.875rem;
$md: 1.125rem;
$lg: 1.5rem;
$xl: 2rem;
$xxl: 3rem;
$xxxl: 6rem;

dl,
dt,
dd,
menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

input,
button {
  font-family: 'Albert Sans', sans-serif;
}

input[type="radio"] {
  display: none;
}

:root {
  font-size: 1.25vw;
}

body {
  margin: 0;
  font-family: 'Albert Sans', sans-serif;
  border-right: 0.25rem solid $yellow;
}

figure#logo {
  margin: 0;
  height: 3rem;

  img {
    height: 100%;
  }

  h1 {
    font-size: 0;
  }
}

menu {
  margin: 0;
  display: flex;
  align-items: flex-start;
}

.cta-button {
  a {
    background-color: $yellow;
    color: $black;
    padding: 0.65rem 1rem;
    margin-inline-start: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 600;
    font-size: $xs;
    white-space: nowrap;
    transition-property: color, background-color;
    transition-duration: 0.4s;
  }

  a:hover {
    background-color: $dodger;
    color: $white !important;
  }
}

nav#light-mode {
  color: $black;
  background-color: $white;
  border-color: $darkgrey;
  top: -0.1em;
  z-index: 0;

  menu {
    li {
      a {
        color: $black;
      }

      button {
        color: $black;

        h2:after {
          border-color: $purple;
        }
      }
      .text-input-wrapper.dark {
        button {
          img {
            filter: invert(0);
          }
        }
        
        input {
          color:$black;
          font-weight: 400;
        }
        input::placeholder {
          color:$night;
        }
      }
      .text-input-wrapper.dark:focus-within {
        button {
          border-color: $purple;
          img {
            // filter: invert(54%) sepia(30%) saturate(1172%) hue-rotate(206deg) brightness(97%) contrast(104%);          
          }
        }
        
        input {
          border-color: $purple;
        }
      }
    }
  }

  aside {
    menu {
      a {
        color: $night;
      }
    }
  }

  img.icon-search {
    filter: invert(0);
  }
}

nav {
  color: $white;
  background-color: $black;
  position: sticky;
  top: 0;
  color: $white;
  display: flex;
  align-items: center;
  border-bottom: 0.1em solid $night;
  gap: 2rem;
  padding: 0 6rem;
  z-index: 1;

  .list-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
    ;
    gap: 1rem;
  }

  .subnav-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex-basis: 50%;
  }

  menu {
    align-items: flex-start;
    gap: 2rem;

    li:hover,
    li:focus-within {
      overflow: visible;
    }

    li {
      .text-input-wrapper.dark {
        padding:0.1em;
        background-color: transparent;
        button {
          padding: 0;
          border-width: 0.1rem;
          border-color: transparent;
          background-color: transparent;
          img {
            filter: invert(1);
          }
        }
        
        input {
          font-size: $sm;
          border-width: 0.1rem;
          border-color: transparent;
          background-color: transparent;
          padding: 0;
          width: 0;
        }
        input:focus {
          outline: 0;
        }
      }
      .text-input-wrapper.dark:focus-within {
        button {
          border-color: $yellow;
          img {
            // filter: invert(83%) sepia(61%) saturate(437%) hue-rotate(16deg) brightness(103%) contrast(109%);
          }
        }
        
        input {
          border-color: $yellow;
          width: 100%;
        }
      }
      a {
        color: $white;
        text-decoration: none;
      }

      list-style: none;
      position: relative;

      button {
        padding: 0 0 1.6rem 0;
        line-height: 1;
        z-index: 1;
        font-size: inherit;
        cursor: pointer;
        color: #FFFFFFDD;
        background-color: transparent;
        border: none;
        margin: 0;

        h2 {
          font-weight: 400;
          letter-spacing: 0.01rem;
          display: flex;
          align-items: center;
          white-space: nowrap;
        }

        h2:after {
          content: "";
          position: absolute;
          right: -0.75rem;
          margin: auto 0;
          height: 0.25rem;
          width: 0.25rem;
          border-right: 0.15rem solid $yellow;
          border-bottom: 0.15rem solid $yellow;
          transform: rotate(-45deg);
          transition: transform ease-in-out 0.2s;
        }
      }

      button:hover,
      button:focus {
        color: $white;

        h2:after {
          transform: rotate(45deg);
        }
      }

      section:hover,
      section:focus-within,
      button:hover+section,
      button:focus+section {
        opacity: 1;
        height: auto;
      }

      section {
        display: flex;
        flex-direction: column;
        overflow: auto;
        color: $black;
        background-color: $white;
        position: absolute;
        top: 2.6rem;
        margin-left: -2rem;
        opacity: 0;
        width: 24rem;
        height: 0;
        box-shadow: 0 1rem 1rem #00000020;
        border-radius: 0 0 2rem 0;
        z-index: 0;
        transition: opacity ease-in-out 0.4s;

        dl {
          margin-block-start: 0.75rem;
        }

        dl>a+a {
          margin-block-start: 0.5rem
        }

        dl:first-child,
        dl:last-child {
          padding: 1em 2em;
          background-color: $ice;
          border-top: 0.1em solid $grey;
          margin: 0;
        }

        dl:first-child {
          border-top: 0.25rem solid $yellow;
        }

        dl:last-child {
          background-color: $white;
          padding-block-end: 1.5rem;

          dt a {
            padding: 0;
          }
        }

        a {
          color: $black;
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
        }

        >a {
          border-bottom: 0.1rem solid $grey;
          display: flex;
          flex-direction: column;
          align-items: stretch;
        }

        a+a {
          margin-block-start: 0.25rem;
        }

        a+dl {
          padding-inline-start: 3rem;
          padding-block-end: 0.5rem;
        }

        dl dd:last-child {
          margin-block-end: 0.5rem;
        }

        a h4 {
          text-transform: uppercase;
          letter-spacing: 0.15rem;
          font-weight: 400;
          font-size: $xs;
          padding: 1rem 2rem;
        }

        a dt {
          text-transform: uppercase;
          letter-spacing: 0.1rem;
          font-size: $xs;
          font-weight: 600;
          padding-block-start: 0.5rem;
        }

        dt+dd {
          margin-block-start: 0.25rem;
        }

        dd {
          font-size: $xs;
          font-weight: 400;
          letter-spacing: 0.01em;
          color: $black;
        }

        dt h3 {
          font-size: $md;
          text-transform: none;
          font-weight: 600;
          letter-spacing: 0.01rem;
          margin-block-end: 0.5rem;
        }
      }
    }
  }

  aside {
    padding-block-start: 0.5rem;

    menu {
      justify-content: flex-end;
      align-items: center;
      a {
        font-size: $sm;
        color: $grey;
        display: flex;
        align-items: center;

        img.icon-search {
          height: $md;
          width: $md;
          filter: invert(1);
        }
      }
    }
  }

  .applications section {
    flex-direction: row;
    width: 48rem;

    .subnav-wrapper {
      dl:last-child {
        height: 100%;
      }
    }

    .subnav-wrapper:nth-child(odd) {
      dl {
        background-color: $white;
      }
    }

    .subnav-wrapper:nth-child(even) {
      dl {
        background-color: $ice;
      }
    }
  }
}

main {
  section+section {
    padding-block-start: 2rem;
    border-top: 0.1em solid $grey;
  }

  b {
    font-weight: 500;
  }

  .txt-style-wrapper {
    display: flex;

    >div {
      flex-basis: 50%;
      padding: 3rem 6rem;

      .grad-mask {
        font-weight: 300;
        background-image: linear-gradient(90deg, $purple, $teal);
        background-clip: text;
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    div:nth-child(even) {
      background-color: $black;
      color: $white;
    }

    p {
      max-width: 24rem;
      margin: 0;
      padding: 0;
    }
  }

  .txt-style-wrapper:first-child div {
    padding-block-start: 6rem;
  }

  .txt-style-wrapper:last-child div {
    padding-block-end: 6rem;
  }

  .t1 {
    font-size: $xxxl;
    font-weight: 100;
    letter-spacing: -0.04em;
    line-height: 1;
  }

  .t2 {
    font-size: 4rem;
    font-weight: 200;
    letter-spacing: -0.03em;
    line-height: 1.1;
  }

  .t3 {
    font-size: $xxl;
    font-weight: 200;
    letter-spacing: -0.02em;
    line-height: 1.15;
  }

  .t4 {
    font-size: 2.5rem;
    font-weight: 200;
    letter-spacing: -0.01em;
    line-height: 1.25;
  }

  .t5 {
    font-size: 2.25rem;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.275;
  }

  .t6 {
    font-size: $xl;
    font-weight: 500;
    line-height: 1.3;
  }

  .p1 {
    font-size: 1.15rem;
    font-weight: 300;
    line-height: 1.4;
  }

  .p2 {
    font-size: 1rem;
    line-height: 1.5;
  }

  .p3 {
    font-size: $sm;
    line-height: 1.5;
  }

  .s1 {
    text-transform: uppercase;
    letter-spacing: 0.2em;

    div:nth-child(even) {
      color: $teal;
    }
  }

  .s2 {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: $sm;

    div:nth-child(even) {
      color: #93e4d5;
    }
  }

  .s3 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: $xs;
  }

  .color-wrapper,
  .input-button-wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    padding-inline: 6rem;
    padding-block: 2rem;

    .color-pal {
      border: 0.1em solid $grey;
      border-radius: $xs;
      width: 100%;
      text-align: center;
      overflow: hidden;

      dt {
        font-size: 0;
        height: 4rem;
      }

      dd {
        padding: 1rem;
        border-top: 0.1em solid $grey;
        font-size: $sm;
      }

      // dd:before {
      //   content: '#';
      //   color: $darkgrey;
      // }
    }

    .black dt {
      background-color: #000;
    }

    .blue dt {
      background-color: $blue;
    }

    .white dt {
      background-color: $white;
    }

    .yellow dt {
      background-color: $yellow;
    }

    .dodger dt {
      background-color: $dodger;
    }

    .purple dt {
      background-color: $purple;
    }

    .teal dt {
      background-color: $teal;
    }

    .night dt {
      background-color: $black;
    }

    .dark-grey dt {
      background-color: $grey;
    }

    .grey dt {
      background-color: $ice;
    }

    .grad-1 dt {
      background-image: linear-gradient(90deg, $purple, $teal);
    }

    .grad-2 dt {
      background-image: linear-gradient(90deg, $white, $ice);
    }
  }

  .input-button-wrapper {
    align-items: center;
    justify-content: space-between;

    .cta-button {
      display: flex;

      a {
        text-decoration: none;
        margin: 0;
        padding-inline: 3rem;
      }

      a.phone {
        display: flex;
        align-items: center;
      }

      a.phone:before {
        content: '';
        display: block;
        height: 1.25rem;
        width: 1.25rem;
        margin-inline-end: 0.75rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTIwMHB0IiBoZWlnaHQ9IjEyMDBwdCIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMTIwMCAxMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogPHBhdGggZD0ibTEyMDAgNjAwYzAtMzMxLjU4LTI2OC40Mi02MDAtNjAwLTYwMHMtNjAwIDI2OC40Mi02MDAgNjAwIDI2OC40MiA2MDAgNjAwIDYwMCA2MDAtMjY4LjQyIDYwMC02MDB6bS0zNDUuMTEgNzIuMThjLTY3LjY2OC02Ny42NjgtMTI2LjMyIDExLjI3Ny0xNjYuOTIgNTEuODc5LTg1LjcxNS00NS4xMTMtMTczLjY4LTEyNC4wNi0yMTIuMDMtMjEyLjAzIDEyNC4wNi0xMTIuNzggOTkuMjUtMTI2LjMyLTQwLjYwMi0yNTkuNC02OS45MjYtNjcuNjY4LTEyNi4zMiAxMy41MzUtMTY5LjE3IDU2LjM5MS0yMi41NTUgMjIuNTU1LTMzLjgzNiA0OS42MjUtMzYuMDkgNzguOTQ5LTIyLjU1NSAyMDMuMDEgMzAwIDU3MC42OCA1NTcuMTQgNTg2LjQ2IDc2LjY5MSA0LjUxMTcgMTA2LjAyLTM4LjM0OCAxNjAuMTUtOTQuNzM4IDMzLjgzNi0zMy44MzYgMzMuODM2LTgxLjIwMy0yLjI1MzktMTE1LjA0bC05MC4yMjctOTIuNDh6IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz4KPC9zdmc+Cg==");
        transition: filter ease-in-out 0.2s;
      }

      a.phone:hover:before {
        filter: invert(1);
      }

      a.arrow {
        border-radius: 50%;
        height: 1.75rem;
        width: 1.75rem;
        padding: 0.5rem;
        transition: background-color ease-in-out 0.2s;

        img {
          height: 100%;
          width: auto;
          transition: filter ease-in-out 0.2s;
        }
      }

      a.arrow:hover {
        background-color: $black;

        img {
          filter: invert(81%) sepia(87%) saturate(341%) hue-rotate(15deg) brightness(104%) contrast(102%);
        }
      }
    }

    .cta-button.lg {
      a {
        font-size: $md;
        padding-inline: 1.5rem;
        padding-block: 2rem
      }
    }

    .inline-link {
      a {
        text-decoration: none;
        color: $black;
        font-weight: 500;
        border-bottom: 0.15rem solid $teal;
        padding-block-end: 0.15rem;
        transition: ease-in-out 0.2s;
        white-space: nowrap;
      }

      a:hover {
        border-color: $dodger;
      }
    }
  }

  .input-button-wrapper.dark {
    background-color: $black;

    .cta-button {
      a {
        background-color: transparent;
        border: 0.15rem solid $yellow;
        color: $white;
        transition: border-color ease-in-out 0.2s;
      }

      a:hover,
      a:focus {
        border-color: $purple;
      }

      a.phone:before {
        filter: invert(1);
      }

      a.arrow {
        background-color: transparent;
        border: 0.15rem soild $yellow;

        img {
          transition: none;
          filter: invert(81%) sepia(87%) saturate(341%) hue-rotate(15deg) brightness(104%) contrast(102%);
        }
      }

      a.arrow:hover {
        img {
          filter: invert(46%) sepia(69%) saturate(2026%) hue-rotate(220deg) brightness(107%) contrast(98%);
        }
      }
    }

    .inline-link {
      a {
        color: $white;
        border-color: $yellow;
        font-weight: 400;
      }

      a:hover {
        border-color: $purple;
      }
    }
  }
}

.input-preview-wrapper {
  display: flex;
  justify-content: space-around;
  border-top: 0.1rem solid $night;
}

.text-input-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  padding-block: 2rem;

  button {
    border: 0.1rem solid $purple;
    border-radius: 4rem 0 0 4rem;
    border-right: 0;
    display: flex;
    align-items: center;
    padding-inline-end: 0;
    background-color: $ice;
    cursor: pointer;

    img {
      height: 1.25rem;
      width: 1.25rem;
      filter: invert(54%) sepia(15%) saturate(1839%) hue-rotate(207deg) brightness(98%) contrast(101%);
    }
  }

  input {
    font-size: 1.15rem;
    font-weight: 300;
    border: 0.1rem solid $purple;
    border-left: 0;
    background-color: $ice;
    border-radius: 0 4rem 4rem 0;
    padding: 0.25rem;
  }
  input:focus {
    outline: 0;
  }
}

.text-input-wrapper.dark {
  background-color: $black;

  button {
    border: 0.1rem solid $yellow;
    background-color: $black;
    border-right: 0;

    img {
      filter: invert(81%) sepia(87%) saturate(341%) hue-rotate(15deg) brightness(104%) contrast(102%);
    }
  }

  input {
    border: 0.1rem solid $yellow;
    background-color: $black;
    color: $white;
    border-left: 0;
    font-weight: 200;
  }
  input::placeholder {
    color: $grey;
  }
}

footer {
  display: flex;
  gap: 2.75rem;
  background-color: $black;
  color: $white;
  padding: 4rem 6rem;
  border-top: 0.1em solid #C2C0D140;

  .cta-button {
    margin: 1rem 0 2rem;

    a {
      margin: 0;
    }
  }

  address {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        font-style: normal;
        color: $darkgrey;
        line-height: 1.5;
      }
    }
  }

  section:first-child {
    margin-inline-end: auto;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  menu {
    flex-direction: column;
    gap: 0.25rem;

    h2 {
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-weight: 400;
      font-size: $sm;
      margin-block-end: 0.25rem;
    }

    a {
      color: $white;
      text-decoration: none;
      font-size: $xs;
      color: $darkgrey;
      letter-spacing: 0.01em;
      line-height: 1.5;
    }
  }
}

@media (max-width: 1440px) {
  :root {
    font-size: 1.0625rem;
  }

  nav,
  footer {
    padding-inline: 4rem;
  }

  main {
    .txt-style-wrapper {
      >div {
        padding-inline: 4rem;
      }
    }

    .color-wrapper,
    .input-button-wrapper,
    .text-input-wrapper {
      padding-inline: 4rem;
    }
  }
}

@media (max-width: 1280px) {
  :root {
    font-size: 1rem;
  }

  nav,
  footer {
    padding-inline: 2rem;
  }

  main {
    .txt-style-wrapper {
      >div {
        padding-inline: 2rem;
      }
    }

    .color-wrapper,
    .input-button-wrapper,
    .text-input-wrapper {
      padding-inline: 2rem;
    }
  }
}

@media (max-width: 1024px) {
  :root {
    font-size: 0.9375rem;
  }
}

@media (min-width: 1023px) {
  :root {}
}